<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
</head>

<body>
    <!-- Image Header -->
    <div class="w3-display-container w3-animate-opacity">
        <img src="\assets\images\sunrise-1014712_640.jpg" alt="boat"
            style="width:100%;min-height:350px;max-height:600px;">
        <div class="w3-container w3-display-bottomleft w3-margin-bottom">

            <button class="w3-button w3-xlarge w3-theme w3-hover-light-blue"
                title="Trip Detail">{{trip.trip_name}}</button>
        </div>
    </div>


    <!-- Modal for trip information  -->
    <div id="id01" class="w3-modal">
        <div class="w3-modal-content w3-card-4 w3-animate-top">
            <header class="w3-container w3-white w3-display-container">
                <span onclikc="document.getElementByID('id01').style.display='none'" 
                    class="w3-button w3-blue w3-display-topright"><i class="fa fa-remove"></i></span>
                <!-- budget, startdate, enddate,search for weather -->
                <h4>{{trip.location}}</h4>
                <!-- TODO: insert trip date-->
                <h5 id="trip_date">{{trip.start_date}} - {{trip.end_date}} </h5>
                <!--TODO: insert trip budget -->
                <h6 class="w3-text-light-blue w3-hover-text-blue" id="trip_budget">$$$</h6>
                <h6 class="w3-text-light-blue w3-hover-text-blue" id="trip_numPeople"> {{trip.numPeople}}</h6>
            </header>
            <div class="w3-container">
                <p> Click to search for <a class="w3-text-light-blue" href="/dashboard/weather">weather</a>
                    <i class="uil uil-cloud-sun"></i>
                </p>

            </div>
            <!-- to edit trip detail -->
            <footer class="w3-container w3-dark-grey">
                <p class="w3-hover-text-white"> <a class="w3-hover" href="/dashboard/trips/trip/edit-trip"> Edit trip
                        detail</a>
                <p>
            </footer>
        </div>

    </div>

    <!-- Participants Container Insert users ??? -->
    <div class="w3-container w3-padding-64 w3-center" id="team">
        <h2>Participants</h2>
        <div class="w3-row"><br>
            {{#each users as |user|}}
            <div class="w3-quarter w3-border">
                <img src="" alt="user" style="width:45%" class="w3-circle w3-hover-opacity">
                <h3>{{user.first_name}} {{user.last_name}}</h3>
                <h5>Username: {{user.user_name}}</h5>
                <h5>Email: {{user.email}}</h5>
            </div>
            {{/each}}
        </div>
    </div>
    <!-- Participants Container Ends here -->

</body>